body { 
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

hr {
    width: 500px;
    height: 3px;
    background-color: black;
}

#board {
    width: 450px;
    height: 450px;

    background-color: cadetblue;
    border: 5px solid rgb(56, 32, 0);

    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
/*    flex-wrap: wrap;*/
}

.grid-item {
    border: 2px solid rgb(56, 32, 0);
    display: flex;
    justify-content: center;
    align-items: center; 
}

.tile{
    width: 147px;
    height: 147px;

    font-size: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.horizontal-line {
    border-bottom: 3px solid black;
}

.vertical-line {
    border-right: 3px solid black;
}

.winner {
    background-color: blueviolet;
    color: chartreuse;
}