body { 
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

hr {
    width: 500px;
    height: 3px;
    background-color: black;
}

#board {
    width: 450px;
    height: 450px;
    aspect-ratio: 1;

    background-color: cadetblue;
    border: 5px solid rgb(56, 32, 0);

    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    /* visibility: hidden; */
/*    flex-wrap: wrap;*/
}

.grid-item {
    border: 2px solid rgb(56, 32, 0);
    display: flex;
    justify-content: center;
    align-items: center; 
    font-size: 7em;
    font-weight: bold;
}


#selectPiece {
    grid-column: span 3;    
}

#selectPiece p {
    font-size: 1.5em;
}

.pieces {
    font-size: 3.5em;
    font-weight: bold;
    padding: 12px;
    gap: 12px;
    border-radius: 10px;
    background-color: beige;
}

@media (max-width: 450px) {
    #board {
        width: 300px;
        height: 300px;
    }

    .grid-item {
        font-size: 4em;
        font-weight: none;
    }

    #selectPiece p {
        font-size: 1.25em;
    }

    .pieces {
        font-size: 1.5em;
    }
}

#start {
    font-size: 1.5em;
    font-weight: bold;
    grid-column: 2;
    grid-row: 3;
    height: 4rem;
    border-radius: 10px;
    background-color: beige;
    /* grid-row-end: span2; */
}

.tile{
    width: 147px;
    height: 147px;

    font-size: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.horizontal-line {
    border-bottom: 3px solid black;
}

.vertical-line {
    border-right: 3px solid black;
}

.winner {
    background-color: blueviolet;
    color: chartreuse;
}